* {
  margin: 0%;
}

#box {
  background-color: blue;
}
.heading {
  color: red;
}
button {
  background-color: blue;
  color: aliceblue;
}

.container {
  display: grid;
  place-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.main h1 {
  text-align: center;
}

.main {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.main .click {
  margin-top: 55px;
  color: rgb(0, 179, 255);
}

button {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  background-color: steelblue;
  color: aliceblue;
  cursor: pointer;
  margin-top: 5%;
  font-weight: 500;
  transition: all ease-out 0.5s;
}

button:hover {
  background-color: aliceblue;
  color: black;
}

.box-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 100px;
  width: 100%;
}

.main-2 {
  background-image: url(tea.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
}
