#box {
  background-color: blue;
}
.heading {
  color: red;
}
button {
  background-color: blue;
  color: aliceblue;
}

.container {
  display: grid;
  place-items: center;
  margin: auto;
  gap: 10px;
}

button {
  width: 6%;
  padding: 5px;
  border-radius: 5px;
  background-color: steelblue;
  color: aliceblue;
}
