* {
  margin: 0%;
}

#box {
  background-color: blue;
}
.heading {
  color: red;
}
button {
  background-color: blue;
  color: aliceblue;
}

.container {
  display: grid;
  place-items: center;
  gap: 10px;
}

.main h1 {
  text-align: center;
}

.main {
  width: 400px;
  height: 300px;
  border: 1px solid black;
  padding: 20px;
}

button {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  background-color: steelblue;
  color: aliceblue;
  cursor: pointer;
  margin-top: 20%;
}

.box-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 100px;
  width: 100%;
}
